<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.wakim.autoescola.calendario">

    <uses-permission android:name="android.permission.INTERNET" />

    <application android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        android:name=".app.application.Application">

        <meta-data
            android:name="AA_DB_NAME"
            android:value="auto-escola.db" />
        <meta-data
            android:name="AA_DB_VERSION"
            android:value="1" />

        <provider android:authorities="br.com.wakim.autoescola.calendario" android:exported="false" android:name="com.activeandroid.content.ContentProvider" />

        <activity android:name=".app.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".app.activity.DisciplinaActivity" android:theme="@style/AppTheme.OverlayedActionBar" />
        <activity android:name=".app.activity.CalendarioAulasActivity" />
        <activity android:name=".app.activity.ProximasAulasActivity" android:label="@string/proximas_aulas" />
    </application>
</manifest>